#shorts {

  .img {
    width: 100%;
    aspect-ratio:  9 / 16;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .wrapper {
    margin: 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .wrapper1 {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .profileImg {
      height: 100%;

      img {
        width: 36px;
        border-radius: 50%;
      }
    }

    .textWrapper {
      h2 {
        font-size: 16px;
        color: #F1F1F1;
        font-weight: 500;
        line-height: 1.2;
      }

      .dot-icon {
        font-size: 10px;
        margin: 0 5px;
      }

      .verifyWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .icon {
          color: #AAAAAA;
          font-size: 12px;
          margin-top: 5px;
        }
      }

      h3 {
        font-size: 14px;
        color: #AAAAAA;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    .dots {
      .icon {
        color: #F1F1F1;
        font-size: 20px;
      }
    }
  }
}
